body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #00a0e9;
    background: #000;
}

svg {
    display: block;
    /* margin: 40px auto; */
}

p {
    position: absolute;
    top: 40px;
    margin: 40px auto 0;
    width: 100%;
    height: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 30px;
    /* background: rgb(27, 164, 206); */
    text-align: center;
}

code {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #eee;
    width: 180px;
    white-space: pre-wrap;
    padding: 10px 5px;
    border-radius: 5px;
    max-height: 600px;
    height: 600px;
    border: 1px solid #3cc372;
}

#code {
    left: auto;
    right: 10px;
    overflow: auto;
}

.text-popup {
    animation: textPopup 1s;
    font-size: 20px;
    color: red;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    z-index: 99;
}

@keyframes textPopup {
    0%,
    100% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateY(-300px);
    }
}

.btn {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #05f7e2;
    background: none;
    border: 1px solid #05f7e2;
}